# rename this file to 'secret.json', remove this line and add your API keys below
{
 "alveo": "your Alveo API key",
 "trove": "your Trove API key",
 "geonames": "your Geonames username",
 "google": "your Google Maps API key"
}